.navbar {
    background-color: #bb2339 !important;
    .nav-item a {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.04em;
      color: #ffffff !important;
    }
  }