@font-face {
    font-family: 'Open sans';
    src: url(../../fonts/open-sans/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Cera Round Pro';
    src: url(../../fonts/Cera-Round-Pro/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/static/Inter-Regular.ttf);
}