@use "../global";
@use "../utils/variables" as var;
@use "../utils/mixin" as mix;

.map__container {
  h2 {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 40px;
    font-family: "Cera Round Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #000000;
  }
}
