$mobilePadding: 20;

$h1: 64px;
$h2: 48px;
$h3: 40px;
$h4: 38px;
$h5: 24px;
$h6: 16px;
$h7: 12px;


$primaryColor: #BB2339;
$whiteColor: #FFFFFF;
$blackColor:#242424;
$borderColor: #646464;
$descColor:#333333;
$borderColorTwo:rgba(51, 51, 51, 0.1);